<!DOCTYPE html>
<html>
  <head>
    <title>CardiffDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex">
      <%= render "shared/onboarding/sidebar", step_array: @step_array %>
      <div class="flex-1 overflow-auto">
        <div class="md:hidden flex justify-center items-center bg-blue-800 h-12 font-bold text-white text-2xl">cardiff</div>
        <%= render "shared/onboarding/mobile_progress_bar", step_array: @step_array %>
        <%= render "shared/flash_messages" %>
        <main class="px-6 lg:px-12 py-8 lg:py-12">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
